{% extends 'base.html.twig' %}

{% block title %}Zugriff nicht erlaubt{% endblock %}

{% block body %}
    <h1>Zugriff nicht erlaubt.</h1>

    <p>Du musst eingeloggt sein um diese Seite aufrufen zu können.</p>
{% endblock %}
