{% extends 'base.html.twig' %}

{% block title %}Seite nicht gefunden{% endblock %}

{% block body %}
    <h1>Seite nicht gefunden.</h1>

    <p>Die aufgerufene Seite ist nicht vorhanden, bitte prüfe die aufgerufene URL.</p>
{% endblock %}
