name: Deploy

on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Validate composer.json and composer.lock
      run: composer validate --strict
    
    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v4
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-
    
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
      
    - name: Install dependencies
      run: composer install --prefer-dist --no-progress
      
    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: artifact
        path: |
          vendor
          src
          templates
          translations
          assets
          config
          migrations
          public

    - name: executing remote ssh commands using key
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        script: pwd
      
    - name: download artifact to server
      uses: actions/download-artifact@v4
      with:
        name: artifact
        path: tmp
    - name: Display structure of downloaded files
      run: ls -R tmp
