name: Deploy

on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        script: pwd
      
    - name: download artifact to server
      uses: actions/download-artifact@v4
      with:
        name: artifact
        path: /home/band/tmp
    - name: Display structure of downloaded files
      run: ls -R /home/band/tmp
